p { 
  color: Black;
  font-size: 6em;
  font-family: 'Playfair Display', serif;
  margin: 14;
  transform: translate(-50%, -50%);
  position: absolute; 
  top: 50%; 
  left: 50%;
  white-space: nowrap;
  letter-spacing: 5px;
}
