ody {
  margin: 0;
  background: url
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  height: 100vh;
  padding: 20px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
}
h1 { 
  color: white;
  font-size: 4em;
  font-family: 'Playfair Display', serif;
  margin: 0;
  transform: translate(-50%, -50%);
  position: absolute; 
  top: 50%; 
  left: 50%;
  white-space: nowrap;
  letter-spacing: 5px;
}
h2 {
  font-size: 3em;
  font-family: 'Playfair Display', serif;
  line-height: 1;
}
.share-block {
  float: right;
  padding-right: 15px;
  line-height: 50px;
}
.share-block a {
  color: #999;
  display: inline-block;
  margin-right: 7px;
  transition: .4s linear;
}
.share-block a:hover {
  color: white;
}
.container {  
  width: 100%;
  height: 100%;
  -webkit-perspective: 1200;
  perspective: 1200;
  -moz-transform: perspective(1200px);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d; 
  transform-style: preserve-3d;
  position: relative;
}
.button {
  text-decoration: none;
  width: 120px;
  height: 50px;
  position: relative;
  display: inline-block;
  top: 0;
  left: 0;
  z-index: 3;
  line-height: 50px;
  padding-left: 30px;
  transition: .4s linear;
}
.button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top: 20px solid #CE1D5A;
  border-right: 20px solid transparent;
}
.button:after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  width: 0;
  height: 0;
  border-top: 20px solid white;
  border-right: 20px solid transparent;
}
.home:hover, .close:hover {
  color: white;
}
.home, .close {
  color: #999;
  font-size: 20px;
}
.flipper {
  border: 10px solid rgba(255,255,255,0.2);
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: .7s linear;  
}
.front, .back {
  font-family: 'Cabin', sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5);
  backface-visibility: hidden;
}
.front {
  z-index: 2;
  transform: rotateX(0deg);
}
.back {
  transform: rotateX(-180deg);
  color: white;
}
.flipper:target {
  transform: rotateX(180deg);
}
.inner {
  padding: 20px;
  line-height: 2;
  letter-spacing: 1px;
}
@media (max-width: 768px) {
  h1 {font-size: 3em; white-space:normal;}
  h2 {font-size: 2em}
  p {font-size: 14px;}
}
