.bg-video {
  /* Фиксируем видеоролик, чтобы он занимал всю площадь страницы
  от верхнего левого угла */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* Определяем, что все другие элементы на странице будут поверх видео */
  z-index: -100;
}
